node_modules/
dist/
npm-debug.log
*.ait
pnpm-debug.log
coverage/
.cache/
.metro-cache/
*.tsbuildinfo
*.swp
*.swo
.idea/
.vscode/

.yarn/*
.pnp.*
yarn-error.log
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

.env
.granite
.swc
.DS_Store
